<br><br><br><br><br><br><br><br>
        <img id="bannerTemp" src="/assets/images.jpg"/>
<div id="background">
    <center><p style="font-size:70px">Club Directory</p>

<table style="width:70%">
  <thead>
    <tr>
      <th>Name</th>
      <!--<th>Admin</th>
      <th>Number of Members</th>-->
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.Name %></td>
        <!--<td><%= club.Admin %></td>
        <td><%= club.NumberOfMembers %></td>-->
        <td><%= club.category %></td>
        <!--<td><%= link_to 'Show', club %></td>
        <td><%= link_to 'Edit', edit_club_path(club) %></td>
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
    </table>

<br>

<!--<%= link_to 'New Club', new_club_path %></center>-->
</div>