

<br><br><br><br><br><br><br><br>
        <img id="bannerTemp" src="/assets/images.jpg"/>
<div id="background">

<p id="notice"><%= notice %></p>

<img src="http://www.sjsu.edu/provost/pics/SJSU%20University%20Spirit%20mark_Web_Blue.png">
<p>
  <strong>Club:</strong>
  <% @club = Club.find(params[:id]) %>
  <%=@club.name%>
  <p>
    <h2> Admin: </h2>
  <%=@club.admin%>
</p>
<p>
  <h2> Category </h2>
  <%=@club.category.try(:genre)%>
</p>
<p>
  <h2> Number of Members </h2>
  <%=@club.numberOfMembers%>
</p>

<h2> <%= link_to 'Make a New Review', new_review_path %> </h2>

</p>
 |
<%= link_to 'Back', clubs_path %>
</div>
