<br><br><br><br><br><br><br><br>
        <img id="bannerTemp" src="/assets/images.jpg"/>
<div id="background">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.Name %>
</p>

<!--
<p>
  <strong>Admin:</strong>
  <%= @club.Admin %>
</p>

<p>
  <strong>Numberofmembers:</strong>
  <%= @club.NumberOfMembers %>
</p>
-->

<p>
  <strong>Category:</strong>
  <%= @club.category %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
</div>