<style>
	h4,p{
		padding-left:435px;
	}
</style>
<br><br><br><br><br>
        <img id="bannerTemp" src="/assets/images.jpg"/>
<div id="background">
<br><br>
<p id="notice"><%= notice %></p>
<center><h1 style="font-size:50px">
  <% @club = Club.find(params[:id]) %>
  <%=@club.name%>
	</h1></center>
	<div style="float:left"><img style="padding-left:100px" src="http://www.sjsu.edu/provost/pics/SJSU%20University%20Spirit%20mark_Web_Blue.png" width="300px" height="auto"></div>

	<div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} review(s)" %></em>

<h4> Club Admin</h4><p><%=@club.admin%></p>
<p>
  <h4> Category </h4>
 <p> <%=link_to(@club.category.try(:genre), category_path(@club.category.id))%>
</p>
</p>
  <h4> Number of Members </h4>
 <p> <%=@club.numberOfMembers%>
</p>

<!--<div class="col-md-7 col-md-offset-1">-->
  
        <% if @reviews.blank? %>
          <h4>No reviews just yet, would you like to add the first!</h4>
     		<center>
          <td><%= link_to "Write a Review", new_club_review_path(@club), class: "btn btn-danger" %></td>
      		</center>
        <% else %>
        <h4> Reviews (Rating out of 5)</h4>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <!-- PUT A TAB HERE -->
              <p style = "font-style: italic;"><%= review.rating %> - "<%= review.comment %>"</p>
            </div>
          <% end %>
          <center>
          <td><%= link_to "Write a Review", new_club_review_path(@club), class: "btn btn-danger" %></td>
      		</center>
        <% end %>
<td><%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %></td>
</div>

<!-- <br><br></div>
 -->
<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
