

<br><br><br><br><br><br><br><br>
        <img id="bannerTemp" src="/assets/images.jpg"/>
<div id="background">

<p id="notice"><%= notice %></p>

<p>
  <strong>Club:</strong>
  <% @club = Club.find(params[:id]) %>
  <%=@club.name%>
  <p>
    <h2> Admin: </h2>
  <%=@club.admin%>
</p>
<p>
  <h2> Category </h2>
  <%=@club.category.try(:genre)%>
</p>
<p>
  <h2> Number of Members </h2>
  <%=@club.numberOfMembers%>
</p>


</p>
 |
<%= link_to 'Back', clubs_path %>
</div>
