

<br><br><br><br><br><br><br><br>
        <img id="bannerTemp" src="/assets/images.jpg"/>
<center>
  <img src="/assets/SJSU_Blue.png" alt="" style="width:160px;height:160px;" align="middle;">
  <div style="width: 550px;background:white;">

<p id="notice"><%= notice %></p>
<p>
  
  <!--<strong>Club:</strong>-->
  <% @club = Club.find(params[:id]) %>
  <h1><%=@club.name%></h1>
  <p>
    <h2> Admin: <%=@club.admin%> </h2>
  
</p>
<p>
  <h2> Category </h2> 
  <%=@club.category.try(:genre)%>
</p>
<p>
  <h2> Number of Members </h2>
  <%=@club.numberOfMembers%>
</p>

<h2> <%= link_to 'Make a New Review', new_review_path %> </h2>

</p>
 |
<%= link_to 'Back', clubs_path %>

</div>
</center> 