<!DOCTYPE html>
<html>
<head>
    <title>ClubHub</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag  "style" %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
    @font-face {
    font-family: 'FontAwesome';
    src: url(font-path('fontawesome-webfont.eot') + '?v=4.4.0');
    src: url(font-path('fontawesome-webfont.eot') + '?#iefix&v=4.4.0') format('embedded-opentype'),
         url(font-path('fontawesome-webfont.woff2') + '?v=4.4.0') format('woff2'),
         url(font-path('fontawesome-webfont.woff') + '?v=4.4.0') format('woff'),
         url(font-path('fontawesome-webfont.ttf') + '?v=4.4.0') format('truetype'),
         url(font-path('fontawesome-webfont.svg') + '?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
        }
    </style>
</head>

    <% if flash[:notice] -%>
      <p class="notice"><%= flash[:notice] %></p>
    <% end -%>
    <% if flash[:error] -%>
      <p class="error"><%= flash[:error] %></p>
    <% end -%>

    <body class="landing">
		<div id="page-wrapper">
    	<section id="banner">
					<h1 style="font-size:150px">ClubHub</h1>
					<p style="color:white">Designed by &copy;Codiggers</p>

				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Introducing the ultimate SJSU club organization finder</h2>
							<p>SJSU ClubHub was designed in order to provide students at SJSU the opportunity to get involved in the variety of student organizations on campus. </p>
						</header>
						<span class="image featured"><img src="/assets/SJSU.jpg" alt="" /></span>
					</section>


<center><h2>Featured clubs for the month of May</h2></center>
					<div class="row">
                        <div class="6u 12u(narrower)">

							<section class="box special">
								<img src="http://www.swe.uc.edu/_pictures/_logos/swe_logo.jpg" width="300px" height="auto"/>
								<h3>Society of Women Engineers</h3>
								<p>Lighting the way for women in engineering.</p>
								<ul class="actions">
									<li><a href="/clubs/339" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<img src="/assets/codiggers_logo.png" width="260px" height="260"/>
								<h3>Codiggers</h3>
								<p>Codiggers is one of the hottest clubs on SJSU's campus! With only 5 members, Codiggers is a progressive group that makes cool websites like the one you're on right now!</p>
								<ul class="actions">
									<li><a href="/admin/about.html" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

            <script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
        </div>
</body>
</html>
