<style>label {
   width: 1000px;
   display: inline-block;
   text-align: left;
}</style>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="width:40%" class="field">
    <%= f.label :name %><br>
	  <%= f.text_field :name, :placeholder => "Full Name" %>
  </div>
  <div style="width:40%" class="field">
      <%= f.label :username %><br>
	  <%= f.text_field :username, :placeholder => "Username" %>
  </div>
  <div style="width:40%" class="field">
      <%= f.label :email %><br>
	  <%= f.text_field :email, :placeholder => "sample@domain.com" %>
  </div>
  <div style="width:40%" class="field">
    <%= f.label :password %><br>
	  <%= f.password_field :password, :placeholder => "Secret1234" %>
  </div>
  <div style="width:40%" class="field">
    <%= f.label :password_confirmation %><br>
	  <%= f.password_field :password_confirmation, :placeholder => "Secret1234" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
    <% end %>