<style>       
.margins{
            margin-left:120px;
            float:left;
        }
    .text{
        font-size:20px;
    }
</style>

<div class="margins">

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :title, :class => "text" %><br> 
      <%= f.text_field :title, :class =>"form-control" %>
    
  </div>
  <div class="field">
    <%= f.label :body, :class => "text" %><br>
    <%= f.text_area :body, :class =>"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-default" %>
  </div>
<% end %>

</div>

