
<div class="callout large primary">
    <div class="row column text-right">
        <h1 style="font-size:150px">ClubHub</h1>
        <h2 class="subheader">Codiggers</h2>
    </div>
</div>
    <div class="margins">
            <div class="sidebar">
                <h3><b>Reviews of the Day</b></h3>
                <div style="float:left"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTtkdU5ATV0Niem0bULLtDS9ZnWg0A6TAtmnpit24x4Lb3nC3XgeJq_A-M" width=100px; height=auto></div>
                <div style="float:right"><p> blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p></div><hr width="90%">
                                <div style="float:left"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTtkdU5ATV0Niem0bULLtDS9ZnWg0A6TAtmnpit24x4Lb3nC3XgeJq_A-M" width=100px; height=auto></div>
                <div style="float:right"><p> blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p></div><hr width="90%">
                                <div style="float:left"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTtkdU5ATV0Niem0bULLtDS9ZnWg0A6TAtmnpit24x4Lb3nC3XgeJq_A-M" width=100px; height=auto></div>
                <div style="float:right"><p> blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p></div><hr width="90%">
                                <div style="float:left"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTtkdU5ATV0Niem0bULLtDS9ZnWg0A6TAtmnpit24x4Lb3nC3XgeJq_A-M" width=100px; height=auto></div>
                <div style="float:right"><p> blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p></div><hr width="90%">
                                <div style="float:left"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTtkdU5ATV0Niem0bULLtDS9ZnWg0A6TAtmnpit24x4Lb3nC3XgeJq_A-M" width=100px; height=auto></div>
                <div style="float:right"><p> blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p></div><hr width="90%">

    </div>

<h1>Newsfeed</h1>
<div class="row medium-8 large-7 columns">
<div class="blog-post">

<% @posts.each do |post| %>
 <h2><%= link_to post.title, post %></h2>
    <img class="thumbnail" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT3xlrfdjuY8YXjAjTpaRYA8YXUnD1CvxyTifdwIkw7pvjh8MuW">

 <p><%= post.body %></p>
 <p>

 <%= link_to 'Edit', edit_post_path(post) %>|<%= link_to 'Destroy', post, method: :delete,
 data: { confirm: 'Are you sure?' } %>
 </p>
<% end %>
    

</div>
</div>
    
</div>

<br>

<p style="margin-left:120px"><%= link_to 'New Post', new_post_path %></p>

</div>