
<div class="row medium-8 large-7 columns">
<div class="blog-post">

<% @posts.each do |post| %>
 <h2><%= link_to post.title, post %></h2>
    <img class="thumbnail" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT3xlrfdjuY8YXjAjTpaRYA8YXUnD1CvxyTifdwIkw7pvjh8MuW">

 <p><%= post.body %></p>
 <p>

 <%= link_to 'Edit', edit_post_path(post) %>|<%= link_to 'Destroy', post, method: :delete,
 data: { confirm: 'Are you sure?' } %>
 </p>
<% end %>
    

</div>
</div>
    
</div>

<br>

<p style="margin-left:120px"><%= link_to 'New Post', new_post_path %></p>

</div>