<br><br><br><br><br><br><br><br>
        <img id="bannerTemp" src="/assets/images.jpg"/>
<div id="background">

<center>
    <br><br>
<h1>Search By Category</h1>    
    <table style="width:70%">
    <tr>
        <td><%= link_to 'Academics', clubs_url() %></td>
        <td><%= link_to 'Engineering', clubs_url() %></td>
        <td><%= link_to 'Cultural', clubs_url() %></td>
        <td><%= link_to 'Religious', clubs_url() %></td>
        <td><%= link_to 'Science', clubs_url() %></td>
        <td><%= link_to 'Other', clubs_url() %></td>
        <td><%= link_to 'Service and Social Justice', clubs_url() %></td>
    </tr>
    <tr>
        <td><%= link_to 'Performing Arts', clubs_url() %></td>
        <td><%= link_to 'Greek', clubs_url() %></td>
        <td><%= link_to 'Arts', clubs_url() %></td>
        <td><%= link_to 'Health', clubs_url() %></td>
        <td><%= link_to 'Music', clubs_url() %></td>
        <td><%= link_to 'Politics', clubs_url() %></td>
        <td><%= link_to 'Sports', clubs_url() %></td>
    </tr>
    </table>
    </center></div>