<style>label {
   width: 1000px;
   display: inline-block;
   text-align: left;
}</style>

<%= form_for([@club, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <div id="star-rating"></div>
  </div>
  <div class="field" style="width:10%">
   <%= f.label "Rate out of 5"%><br>
    <%= f.text_area :rating%>
  </div>
  <div class="field" style="width:60%">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>
