<style>label {
   width: 1000px;
   display: inline-block;
   text-align: left;
}</style>

<%= simple_form_for(@review) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" style="width:60%">
    <%= f.input :rating, :placeholder => "#/5" %>
	  <%= f.input :comment, :placeholder => "Write reviews here..." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>