<!DOCTYPE html>
<html>
<head>
    <title>ClubHub</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag  "style" %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
    @font-face {
    font-family: 'FontAwesome';
    src: url(font-path('fontawesome-webfont.eot') + '?v=4.4.0');
    src: url(font-path('fontawesome-webfont.eot') + '?#iefix&v=4.4.0') format('embedded-opentype'),
         url(font-path('fontawesome-webfont.woff2') + '?v=4.4.0') format('woff2'),
         url(font-path('fontawesome-webfont.woff') + '?v=4.4.0') format('woff'),
         url(font-path('fontawesome-webfont.ttf') + '?v=4.4.0') format('truetype'),
         url(font-path('fontawesome-webfont.svg') + '?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
    </style>
</head>
<body>
</head>
<body>
    
    <body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><%= link_to 'ClubHub', posts_path %></h1>
					<nav id="nav">
						<ul>
                            <li><%= link_to 'Home', posts_path %></li>
							<li>
								<a href="#" class="icon fa-angle-down">User Options</a>
								<ul>
                                        <!--Drop-down menu not working-->
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">About Me</a></li>
											<li><a href="#">Write A Review</a></li>
											<li><a href="#">Find Friends</a></li>
											<li><a href="#">Talk</a></li>
                                            <li><a href="generic.html">Write A Review</a></li>
									       <li><a href="contact.html">Make A New Site</a></li>
									       <li><a href="elements.html">Elements</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" class="button">Sign Up</a></li>
						</ul>
                         <form class="form-inline">
                  <div class="form-group">
                    <h6>Username</h6>
                    <input type="text" class="form-control" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <h6>Password</h6>
                    <input type="email" class="form-control" placeholder="**********">
                      <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </form>
					</nav>
				</header>
    
    	<section id="banner">
					<h1 style="font-size:150px">ClubHub</h1>
					<p>Designed by &copy;Codiggers</p>

				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Introducing the ultimate SJSU club organization finder.</h2>
							<p>SJSU ClubHub was designed in order to provide students at SJSU the opportunity to learn about the different student organizations on campus. </p>
						</header>
						<span class="image featured"><img src="http://campaign.sjsu.edu/cmsimages/SJSU-ACCEL-DM_Page_06.jpg" alt="" /></span>
					</section>

					<section class="box special features">
                        <h1>Reviews of the day!</h1>
						<div class="features-row">
							<section>
								<span class="icon major fa-bolt accent2"></span>
								<h3>Club one</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
							<section>
								<span class="icon major fa-area-chart accent3"></span>
								<h3>Club two</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon major fa-cloud accent4"></span>
								<h3>Club three</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
							<section>
								<span class="icon major fa-lock accent5"></span>
								<h3>Club four</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
						</div>
					</section>
<center><h2>Featured clubs for the month of May</h2></center>
					<div class="row">
                        <div class="6u 12u(narrower)">

							<section class="box special">
								<img src="http://www.swe.uc.edu/_pictures/_logos/swe_logo.jpg" width="300px" height="auto"/>
								<h3>Society of Women Engineers</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<img src="http://www.fuelyourcreativity.com/files/2009/02/logo3.png" width="375px" height="auto"/>
								<h3>Codiggers</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

                    <h2>Subscribe</h2>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>


		</div>


        <%= yield %>

        			<!-- Footer -->
				<footer id="footer">
					<ul>
						<li><a href = "www.twitter.com" class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a></a></li>
                        <li><a href = "www.facebook.com" class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a></li>
                        <li><a href = "www.instagram.com" class="btn btn-social-icon btn-instagram"><span class="fa fa-instagram"></span></a></li>
                        <li><a href = "www.github.com" class="btn btn-social-icon btn-github"><span class="fa fa-github"></span></a></li>
                        <li><a href = "www.google.com" class="btn btn-social-icon btn-google"><span class="fa fa-google"></span></a></li>
                        </ul>
					<ul class="copyright">
						<li>&copy;Codiggers. All rights reserved.</li>
					</ul>
				</footer>
            <script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>


</body>
</html>